<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>HTML</title>
	<link rel='stylesheet' href='/css/main.css'>
	<script src="/socket.io/socket.io.js"></script><!--NodeJs에서 서버를 실행 시 자동 생성-->
	<script src="/js/main.js"></script>
</head>

<body>
	<div class='container'>
		<div class='title'>
			<span>Free Talk</span>
		</div>
		<div id='chattingSpace'>
		</div>
		<div class='chat'>
			<div class='inputBox'><input type='text' id='msg'></div>
			<div class='sendBox'><button id='sendBtn' onclick='send()'>SEND</button></div>
		</div>
	</div>

</body>

</html>