/*******************************************************************************
                                  reset start
********************************************************************************/
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,table,th,td,form,legend,input,textarea,button,select {margin:0;padding:0;}
html,body {min-width:360px;height:100%;color:#333;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:'NanumSquare';font-size:20px;font-weight:400;}
article,aside,figcaption,figure,footer,header,menu,nav,section {display:block;margin:0;padding:0;}
fieldset,img {margin:0;padding:0;border:0;vertical-align:middle;}
ol,ul {list-style-type:none;}
address,cite,em,i {font-style:normal;}
a {text-decoration:none;color:inherit;}
/*******************************************************************************
                                  reset end
********************************************************************************/

.container{
  background:#9bbbd4;
  position:relative;
  width:600px;
  height:600px;
  margin:40px auto;
  border-radius: 20px;
}
.container .title{
  text-align:center;
  padding-top:15px;
  font-size:25px;
  font-weight:bold;
}
.container .chat{
  background:#EEEEEE;
  position:absolute;
  width:580px;
  height:60px;
  top:530px;
  left:10px;
  border-radius: 10px;
}
.container .chat .inputBox{
  background:#ffffff;
  position:absolute;
  width:500px;
  height:40px;
  top:10px;
  left:5px;
  border-radius: 10px;
}
.container .chat .sendBox{
  position:absolute;
  width:30px;
  height:40px;
  top:15px;
  left:515px;
}
input[type="text"]{
    width:70%;
    height:100%;
    border:none;
    font-size:1em;
    padding-left: 5px;
    font-style: Serif;
    display:inline;
    outline:none;
    box-sizing: border-box;
    color:black;
  border-radius: 5px;
  }
.sendBox #sendBtn {
  position:absolute;
  width:55px;
  top:-3px;
  background-color: #4285f4;
  border: none;
  color:#fff;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}
